<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<suite name="Hotel Leasing" verbose="2" parallel="false">

   <test name="Hotel Leasing">
     <classes>
       <class name="org.jboss.seam.example.leasing.test.LoginTest"/>
       <class name="org.jboss.seam.example.leasing.test.LeasingTest"/>
       <class name="org.jboss.seam.example.leasing.test.ChangePasswordTest"/>
     </classes>
   </test>
	
</suite>